/* -----------Google font poopins importing---------- */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* ---------Common styles or utilities------------- */

html,
body {
    font-family: "Poppins", sans-serif;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    max-width: 1360px;
    margin: 0 auto;

}

/* ---------Navbar-section style ---------------*/

.abacus {
    font-weight: 600;
    margin-left: 5%;
}

.home-feature {
    position: relative;
    left: 40%;
}

.nav-item {
    margin-left: 3px;
}

.nav-item a {
    font-size: 17px;
    font-weight: 500;
}

.fa-circle-info {
    font-size: 17px;
    margin-top: 5px;
}

.fa-address-card {
    font-size: 18.4px;
    margin-top: 5px;
}

.fa-envelope {
    font-size: 18px;
    margin-top: 5px;
}

/* ----------------carousel section style-------------------- */

.carousel-caption input {
    font-size: 18px;
    font-weight: 650;
}

/* ------------precious moment section style--------------- */

.precious {
    margin-top: 5%;
    position: relative;
    left: 6%;
}

.moment {
    font-size: 33px;
    font-weight: 800;
}

.precious-caption button {
    font-size: 16px;
    font-weight: 500;
}

/* --------------package section style ------------------*/

.package {
    position: relative;
    left: 44%;
    margin-top: 5%;
    font-size: 30px;
    font-weight: 700;
}

/*----------------- plans section style-------------------*/

.plan {
    margin-top: 6%;
    position: relative;
    left: 1%;
}

.plan>.row>.col-lg-3>h2 {
    font-size: 35px;
    font-weight: 700;
}

.wedding {
    position: relative;
    right: 2%;
    box-shadow: 2px 2px 8px blue;
}

.corporet {
    position: relative;
    left: 25px;
}

/* ----------------happy section style------------------------ */

.happy {
    margin-top: 6%;
    margin-left: 40%;
    font-size: 31px;
    font-weight: 700;
}

/* ------------------client section style------------------- */

.clients {
    margin-top: 2.4%;
    position: relative;
    left: 6%;
}

.each-client {
    border: 2px solid white;
    box-shadow: 1px 1px 3px 2px grey;
    border-radius: 4px;
    margin-left: 2.5%;
}

.client-image {
    margin-left: 33%;
}

.client-name-1 {
    margin-left: 29%;
    margin-top: 2%;
}

.client-name-2,
.client-name-3 {
    margin-left: 33%;
    margin-top: 2%;
}

.banker {
    margin-left: 39%;
}

.freelancer {
    margin-left: 38%;
}

.engineer {
    margin-left: 40%;
}

/*------------- Frequent asked section style---------------- */

.frequent {
    margin-top: 6%;
    margin-left: 35%;
    font-size: 31px;
    font-weight: 700;
}

.frequent-asked {
    margin-top: 4.4%;
    position: relative;
    left: 3.8%;
}

/* ----------------Footer section style------------------------ */

.footer-section {
    margin-top: 6.5%;
    margin-bottom: 0.1%;
    width: 100%;
    height: 250px;
    border: 1px solid black;
    border-radius: 4px;
    background-color: black;
}

.copyright-app {
    display: flex;
    justify-content: space-around;
}

.copyright {
    color: silver;
    margin-top: 8.4%;
    margin-left: 2%;
}

.get-app {
    margin-left: 33%;
    margin-top: 4%;
}

.get-app h5 {
    color: silver;
    margin-bottom: 13%;
}

/* ---------------media quries section---------------- */

@media only screen and (max-width:688px) {

    /*------------------- navbar section style----------------- */

    .home-feature {
        position: relative;
        left: -1%;
        padding-left: 34%;
    }

    /* -----------carousel section style--------------- */

    .carousel-handle {
        width: 100%;
        height: 500px;
        margin-top: 1%;
    }

    .carousel-image {
        height: 500px;
        width: 360px;
    }

    .carousel-caption h1 {
        font-size: 20px;
    }

    .carousel-caption p {
        font-size: 7px;
    }

    .carousel-caption input {
        font-size: 16px;
        font-weight: 700;
    }

    /* --------------precious section style------------------ */

    .precious {
        width: 100%;
    }

    .precious-row {
        display: flex;
        flex-direction: column-reverse;
    }

    .precious-image {
        position: relative;
        right: 6.2%;
        bottom: 32px;
        margin-bottom: 13%;
    }

    .moment {
        font-size: 26px;
        position: relative;
        right: 4%;
        margin-bottom: 3%;
    }

    .precious-caption p {
        position: relative;
        right: 4%;
    }

    .precious-caption button {
        position: relative;
        top: 272.5px;
        left: 17%;
        font-size: 17px;
        font-weight: 500;
    }

    /*------------------ package section style----------------- */

    .package {
        position: relative;
        left: -1%;
        margin-left: 25%;
        margin-top: 7%;
    }

    /*----------------------- plan section section style ---------------*/

    .plan>.row>.col-sm-9 {
        margin-left: 5%;
    }

    .plan>.row>.col-sm-9>h2 {
        font-size: 27px;
        font-weight: 700;
    }

    .wedding {
        position: relative;
        top: 28px;
        right: 22px;
        margin-left: 5%;

    }

    .wedding h2 {
        font-size: 27px;
        font-weight: 700;
    }

    .wedding span {
        position: relative;
        right: 10%;
    }

    .corporet {
        position: relative;
        top: 52px;
    }

    /* -----------happy client section style---------------- */

    .happy {
        font-size: 28px;
        position: relative;
        right: 26%;
        margin-top: 18%;
        white-space: nowrap;
    }

    .clients {
        position: relative;
        top: -15px;
        margin-top: 15%;
    }

    .each-client {
        position: relative;
        right: 8%;
        margin-bottom: 6%;
    }

    /* ---------------frequent asked section style -------------------*/

    .frequent {
        font-size: 24.5px;
        white-space: nowrap;
        position: relative;
        right: 27%;
        top: -40px;
    }

    .asirbad-question {
        display: flex;
        flex-direction: column-reverse;
    }

    .accordion {
        margin-right: 8%;
    }

    .asirbad-question>.col-sm-10>img {
        position: relative;
        right: 3.6%;
        bottom: 25px;
    }

    /* ---------------footer section style -------------------*/

    .footer-section {
        height: 400px;
    }

    .copyright-app {
        flex-direction: column-reverse;
    }

    .copyright {
        margin-top: 28%;
        margin-left: 25%;
    }

    .get-app {
        margin-top: 18%;
        position: relative;
        right: 2%;
    }

}

@media only screen and (min-width:689px) and (max-width:992px) {

    /*------------------ navbar section style------------------ */

    .abacus {
        font-weight: 800;
    }

    /*------------------- carousel section style------------------ */

    .carousel-handle {
        width: 100%;
        height: 550px;
    }

    .carousel-image {
        height: 550px;
    }

    .carousel-caption h1 {
        font-size: 42px;
    }

    .carousel-caption p {
        margin-top: 8%;
        font-size: 16.6px;
    }

    .carousel-caption input {
        width: 168px;
        height: 50px;
        font-size: 25px;
        font-weight: 630;
    }

    /* --------------precious moment section ------------------*/

    .precious {
        margin-bottom: 15%;
    }

    .precious-row {
        display: flex;
        flex-direction: column-reverse;
    }

    .precious-image {
        width: 1200px;
        position: relative;
        right: 6.5%;
        bottom: 20px;
    }

    .moment {
        font-size: 52px;
        position: relative;
        right: 5%;
    }

    .precious-caption p {
        font-size: 24px;
        font-weight: 500;
        position: relative;
        right: 5%;
        margin-top: 4%;
    }

    .precious-caption button {
        height: 60px;
        margin-left: 20%;
        font-size: 26px;
        font-weight: 500;
        position: relative;
        top: 530px;
    }

    /*----------- package-plan section style --------------*/

    .package {
        font-size: 45px;
        position: relative;
        left: -1px;
        margin-left: 28%;
    }

    .plan>.row>.col-md-5 {
        margin-left: 5%;
    }

    .plan>.row>.col-md-5>h2 {
        font-size: 45px;
        font-weight: 790;
    }

    .wedding {
        position: relative;
        top: 10px;
    }

    .wedding h2 {
        font-size: 45px;
        font-weight: 790;
    }

    /* ---------happy clients section style --------------------*/

    .happy {
        margin-top: 10%;
        font-size: 45px;
        position: relative;
        right: 17%;
    }

    .each-client {
        margin-bottom: 4.5%;
        padding: 2px 4px;
    }

    .each-client p {
        font-size: 22px;
        font-weight: 620;
    }

    .client-image {
        margin-left: 40%;
    }

    .client-name-1 {
        font-size: 28px;
        position: relative;
        left: 7%;
    }

    .client-name-2 {
        font-size: 28px;
        position: relative;
        left: 4%;
    }

    .client-name-3 {
        font-size: 28px;
        position: relative;
        left: 3%;
    }

    .banker {
        font-size: 22px;
        font-weight: 500;
        position: relative;
        left: 4%;
    }

    .freelancer {
        font-size: 22px;
        font-weight: 510;
        position: relative;
        left: 2%;
    }

    .engineer {
        font-size: 22px;
        font-weight: 510;
    }

    /* --------------frequent asked section style --------------*/

    .frequent {
        font-size: 43px;
        white-space: nowrap;
        position: relative;
        right: 21%;
    }

    .accordion-question {
        font-size: 30px;
    }

    .accordion-body {
        font-size: 22px;
    }

    .asirbad-question>.col-md-11>img {
        width: 100%;
        margin-top: 6%;
        margin-left: 0.8%;
    }

    /* -------------footer section style------------------- */

    .copyright {
        font-size: 20px;
        margin-top: 11%;
        margin-left: 2%;
    }

    .get-app {
        margin-right: 5%;
    }

}

@media only screen and (min-width:993px) and (max-width:1024px) {

    /* ------------navbar section style -------------*/

    .home-feature {
        position: relative;
        left: -1%;
        margin-left: 25%;
    }

    /*----------- precious section style -----------*/

    .precious-image {
        margin-top: 9%;
    }

    /* ----------frequent asked section style---------- */

    .asirbad-question>.col-lg-6>img {
        width: 91%;
    }
}